body{
  background-image: url('img/background10.jpg');
  background-size: cover;
  font-size: 20px;
}

h3, h5, .mdl-cell--6-col{
  color: white;
}

#header{
    color: white;
}

span{
  color: black;
}

p{
  font-style: italic;
}

h3{
  text-align: center;
  font-family: monospace;
}

.mdl-list__item{
  background-color: white;
  width: 600px;
  padding: 8px;
  border-radius: 25px;
  margin: 3px;
  margin-top: 10px;
}

div.content{
  margin-left: 50px;
  margin-right: auto;
  width: 36cm
}

#submit{
  color: white;

}
