/* create home page */
.mdl-layout-title{
  margin-left: auto;
}

body{
  background-image: url('img/background10.jpg');
  background-size: cover;
}

#content{
  margin-top: 40px;
}


.mdl-button--raised{
  position: fixed;
  bottom: 10%;
  width: 7cm;
  right: 50px;
  margin: 0;
  color: solid red;
}

.mdl-card {
  width: 800px;
  height: 50px;
}
