body{
  background-image: url('img/background10.jpg');
  background-size: cover;
}

h2{
  color: white;
  font-family: monospace;
  text-align: center;
}

.mdl-button{
  margin-top: auto;
  margin-left: 60px;
  width: 3cm;
}

.mdl-button--accent{
  position: fixed;
  bottom: 10%;
  width: 6cm;
  right: 50px;
  margin: 0;
}

.demo-card-square.mdl-card {
  width: 300px;
  height: 150px;
}
