/* create project page */
.mdl-layout-title{
  margin-left:auto;
}

body{
  background-image: url('img/background10.jpg');
  background-size: cover;
  color: white;
  font-size: 20px;
}

#homeButton{
    margin-left: -50px;
}

h3{
  text-align: center;
  font-family: monospace;
}

div.content{
  margin-left: 50px;
  margin-right: auto;
  width: 36cm
}

#addGroup{
  margin-top: 20px;
  margin-left: 60px;
  color: white;
  position: fixed;
  bottom: 10%;
  width: 4cm;
  right: 200px;
  margin: 0;
}
